# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.

#foo.txt
doc/html
doc/latex
Qim-build-desktop/
debug/
release/
src/debug/
src/release/
src/Makefile
src/Makefile.Debug
src/Makefile.Release
src/Qim.pro.user
src/config.cfg



# Ignore (generated) html files,
*.html

# except foo.html which is maintained by hand.
#!foo.html

# Ignore objects and archives.
*.[oa]